<script>
  $('#button-menu').click(function(){
    var res = $('#navbar-menu').css('display');
    if (res && res == 'none')
      $('#navbar-menu').show('slow');
    else
      $('#navbar-menu').hide('slow');
  });
</script>
<div id="template-wrapper">
  <div class='header navbar col-sm-12'>
    <div id="logo" class="col-sm-2">
      <img src="assets/images/logoeco.png" alt="eco-active">
    </div>
    <div id="button-menu" class="button-men">
      <span class="menu-text">Menu<div class="glyphicon glyphicon-menu-hamburger glyphicon-button-menu"></div></span>
    </div>
    <ul id="navbar-menu" class='nav navbar-nav navbar-right navbar-top col-sm-10'>
      <li><a href="#empresa" alt="empresa">Empresa</a></li>
      <li><a href="#beneficios" alt="beneficios">Beneficios</a></li>
      <li><a href="#optimizacion" alt="optimizacion">Optimización</a></li>
      <li><a href="#videos" alt="videos">Videos</a></li>
      <li><a href="#aplicaciones" alt="aplicaciones">Aplicaciones</a></li>
      <li><a href="#preguntas" alt="preguntas">¿Preguntas?</a></li>
      <li><a href="#blog" alt="blog">Blog</a></li>
      <li><a href="#contacto" alt="contacto">Contacto</a></li>
    </ul>
  </div>
  <div class='container col-sm-12'>
    <div id="first_banner">
      <img src="assets/images/1-home-ecoactive.jpg" class="img-responsive" alt="Image convierte tu vehículo en Híbrido">
      <a id="comprar1" href="playVid()" class="button button-1">comprar</a>
    </div>
    <img id="beneficios" src="assets/images/2-home-ecoactive.jpg" class="img-responsive" alt="Beneficios del Sistema">
    <img id="optimizacion" src="assets/images/3-home-ecoactive.jpg" class="img-responsive" alt="Consumo habitual de combustible">
    <a id="comprar2" href="#" class="button button-2">comprar</a>
    <img src="assets/images/4-home-ecoactive.jpg" class="img-responsive" alt="Optimización de consumo">
    <img src="assets/images/5-home-ecoactive.jpg" class="img-responsive" alt="Ahorro, sin perdida de potencia">
    <div id="videos" class="contact-form-2 col-sm-12">
      <h2 class="contact-form-title-2">Videos</h2>
      <div class="attr-hidden col-sm-6">
        <a href="#Video1" class="btn-primary" data-toggle="modal">
          <img src="assets/images/2videoecoactive.png" width="300" height="200" alt="hho_celda_seca" style="margin-bottom:4px">
        </a>
        <div id="Video1" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close close_1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Titulo</h4>
             </div>
              <div class="modal-body">
                <video controls width="640px" height="480px">
                  <source src="assets/videos/hho_celda_seca.mp4" type="video/mp4" >
                  <source src="assets/videos/hho_celda_seca.ogg" type="video/ogg" >
                  <source src="assets/videos/hho_celda_seca.webm" type="video/webm" >
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6" >
        <a href="#Video2" class="btn-primary" data-toggle="modal">
          <img src="assets/images/1videoecoactive.png" width="300" height="200" alt="hho_mezcla_de_gasolina_e_hidrogeno" style="margin-bottom:4px;">
        </a>
        <div id="Video2" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close close_1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Titulo</h4>
             </div>
              <div class="modal-body">
                <video controls width="640px" height="480px">
                  <source src="assets/videos/hho_mezcla_de_gasolina_e_hidrogeno.mp4" type="video/mp4" >
                  <source src="assets/videos/hho_mezcla_de_gasolina_e_hidrogeno.ogg" type="video/ogg" >
                  <source src="assets/videos/hho_mezcla_de_gasolina_e_hidrogeno.webm" type="video/webm" >
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img id="aplicaciones" src="assets/images/7-home-ecoactive.jpg" class="img-responsive" alt="Aplicaciones">
    <img src="assets/images/8-home-ecoactive.jpg" class="img-responsive" alt="Aplicaciones">
    <div class="contact-form col-sm-12">
      <h2 class="contact-form-title">¿Preguntas frecuentes?</h2>
      <div id="preguntas" class="attr-hidden col-sm-6">
        <div class="attr-hidden col-sm-12" style="margin-top:20px;">
          <span style="font-weight:600;" class="col-sm-13">
            ¿Tenemos que modificar algo del motor del veh&#237;culo?
          </span>
          <p style="margin-top:15px;" class="col-sm-13">
             <strong>CYCLONE/ECOACTIVE&#174;</strong> se instala como un accesorio, funcionando como un simple aditivo; no requiere modificar, cambiar o rectificar ning&#250;n elemento del motor por lo que se debe mantener la garant&#237;a oficial del veh&#237;culo</p>
          <span style="font-weight:600; margin-top:20px;" class="col-sm-13">
            ¿Puede dañar el KIT CYCLONE/ECOACTIVE&#174; a mi veh&#237;culo?
          </span>
          <p style="margin-top:15px;" class="col-sm-13">
             <strong>CYCLONE/ECOACTIVE&#174;</strong> no es da&#241;ino en absoluto ya que &#250;nicamente agrega un flujo constante de hidr&#243;geno monoat&#243;mico HHO.</p>
          <a id="ver-preguntas" href="#" class="button2 col-sm-7">ver mas preguntas</a>
        </div>
      </div>
      <div id="blog" class="col-sm-6" style="margin-top:20px;">
        <input class="inp-nombre-email col-sm-9" alt="nombre email" placeholder="Nombre*">
        <input class="inp-nombre-email col-sm-9" alt="nombre email" placeholder="E-mail*">
        <input class="inp-mensaje col-sm-9" alt="mensaje eco/active" placeholder="Tu mensaje*">
        <span class="col-sm-6 text-datos">* Datos obligatorios</span>
        <a id="enviar" href="#" class="button2 col-sm-3">enviar</a>
      </div>
    </div>
    <div id="map-canvas"></div>
  </div>
  <div class='container-footer col-sm-12'>
    <div id="contacto" class="logo-redes row">
      <div class="attr-hidden col-sm-5" style="width:39%"></div>
      <img src="assets/images/logocyclonesolo.png" class="img-responsive col-sm-3" alt="Cyclone eco/active">
      <div class="attr-hidden col-sm-1"></div>
      <ul class="redes-sociales col-sm-3">
        <li class="col-sm-3"><a href="#" alt="Facebook redes sociales"><img src="assets/images/botonface.jpg" class="img-responsive" alt="Icono Facebook redes sociales"></a></li>
        <li class="col-sm-3"><a href="#" alt="Twitter redes sociales"><img src="assets/images/botontwitter.jpg" class="img-responsive" alt="Icono Twitter redes sociales"></a></li>
        <li class="col-sm-3"><a href="#" alt="Youtube redes sociales"><img src="assets/images/botonyoutube.jpg" class="img-responsive" alt="Icono Youtube redes sociales"></a></li>
      </ul>
    </div>
    <div class="information-contact col-sm-12">
      <span class="col-sm-4 contact-cell-street">Calle Chimalpopoca No.140, Col. Cuidad del Sol<br>C.P. 45050 Zapopan, Jalisco, México.</span>
      <span class="col-sm-2 contact-cell"><a href="www.cyclone.com">www.cyclone.com</a></span>
      <span class="col-sm-2 contact-cell">Tel. (33) 31223891</span>
      <span class="col-sm-4 contact-cell"><a href="mailto:ventas@cyclone.com">ventas@cyclone.com</a></span>
    </div>
    <div class="end-footer col-sm-12">
      <span class="col-sm-7 text-marca" style="margin-top: 40px;">Marca Registrada ® ENDORCORE® 2014. Todos los derechos reservados.</span>
      <div class="attr-hidden col-sm-3"></div>
      <img src="assets/images/logoendorcore.png" class="img-responsive col-sm-2 img-endorcore" alt="Imagen endorcore logo">
    </div>
  </div>
</div>

